<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sartorio.degas">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.collections.CollectionsListActivity" />
        <activity android:name=".ui.clients.ClientsListActivity" />
        <activity android:name=".ui.home.HomeActivity" />
        <activity android:name=".ui.collections.addproducts.AddProductsActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".ui.clients.newclient.NewClientActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.splash.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.collections.productdetails.ProductActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.orders.orderdetails.OrderDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.orders.orderslist.OrdersListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.orders.exportorder.ExportOrderActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.clients.importclient.ImportClientActivity" />
    </application>

</manifest>